*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
}

html{
	font: normal 16px sans-serif;
	color: #333;
	background-color: #f9f9f9;
}

p{
	text-align: center;
	margin-bottom: 2%;
	color: #35495e;
}

.container{
	padding: 27px 20px;
	margin: 30px auto 50px;
	max-width: 1250px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
	box-shadow: 0 0 1px #ccc;
}

.searchBar{
	padding: 27px 20px;
	margin: 30px auto 50px;
	max-width: 1250px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
	box-shadow: 0 0 1px #ccc;
}

input[type=text], select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('/img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 3%;
}

input[type=submit], select {
	display: inline-block;
}

/* Subreddit component */

.subreddit{
	flex: 0 0 33%;
	min-width: 400px;
	padding: 20px 42px;
}

.subreddit h2{
	font-size: 18px;
	margin-bottom: 10px;
}

.subreddit .item-list{
	border-top: 1px solid #bec9d0;
	padding-top: 20px;
	list-style: none;
}

.subreddit .item-list li{
	margin-bottom: 17px;
}

/* Post component */

.post{
	display: flex;
}

.post .thumbnail{
	display: block;
	flex: 0 0 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 10px;
	border-radius: 4px;
	margin-right: 12px;
}

.post .details{
	display: flex;
	flex-direction: column;
}

.post .details .title{
	font-size: 15px;
	margin-bottom: 3px;
	color: #04477b;
}

.post .details .title:visited{
	color: purple;
}

.post .details .action-buttons a{
	font-size: 11px;
	margin-right: 4px;
	display: inline-block;
	color: #666;
}

.post .details .action-buttons i{
	font-size: 10px;
	margin-right: 1px;
}

@media(max-width: 1250px){

	.container{
		justify-content: center;
		margin: 30px 30px 50px 30px;
	}
}

@media(max-width: 500px){

	.subreddit{
		min-width: 300px;
	    padding: 20px 15px;
	}
}

header {
	background-color: #35495e;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 20px;
	box-sizing: border-box;	
}

header .header-limiter {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Logo */

header .header-limiter h1 {
    line-height: 40px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

/* Responsive Header */

@media all and (max-width: 600px) {

	header {
		padding: 20px 0;
		text-align: center;
	}

	header .header-limiter{
		flex-direction: column;
	}

	header .header-limiter h1 {
		margin: 10px 0 10px;
		text-align: center;
		font-size: 16px;
		line-height: 1;
	}

}
